---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
import {
  createEpisodeLink,
  createSlug,
  getEpisodes,
  getYouTubeLinks,
  urlify,
} from "../../utilities/tools";

const { episode, description, youtubeLink } = Astro.props;

export async function getStaticPaths() {
  const response = await fetch("https://anchor.fm/s/1f8af31c/podcast/rss");
  const xmlText = await response.text();
  let episodes = await getEpisodes(xmlText);

  const youtubeResponse = await fetch(
    `https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=100&playlistId=PL88EcRLFGHtELcZsbuqPQ8RSXthz0ywoX&key=AIzaSyDagAoJ1-4MAwmI2jOyxmSBEa3RRjhrvaU`
  );
  const youtubeData = await youtubeResponse.json();
  const { youtubeLinks } = getYouTubeLinks(youtubeData);

  return episodes.map((episode) => ({
    params: { slug: createEpisodeLink(episode, false) },
    props: {
      episode,
      description: urlify(episode.description),
      youtubeLink:
        youtubeLinks[`${episode.title} - Episode ${episode.episodeNumber}`],
    },
  }));
}
---

<Layout title={episode.title}>
  <div
    class="episode-cover"
    style={`background-image: url("https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80");`}
  >
    <div class="overlay">
      <h1>{episode.title}</h1>
    </div>
  </div>
  <section class="content">
    <div class="container">
      <div class="summary">
        <h3>Episode Description</h3>
        <div class="description-text" set:html={description} />
      </div>
      <div class="listen">
        <h3>Listen</h3>
        <iframe
          class="audio-iframe"
          src={`https://podcasters.spotify.com/pod/show/young%26wifedup/embed/episodes/${
            episode.link.split("/episodes/")[1]
          }`}
          frameborder="0"
          scrolling="no"></iframe>
      </div>
      {
        youtubeLink && (
          <div class="watch">
            <h3>Watch</h3>
            <div class="video-wrap">
              <div class="video-container">
                <iframe
                  class="youtube-iframe"
                  src={`https://www.youtube.com/embed/${
                    youtubeLink.split("?v=")[1]
                  }`}
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                />
              </div>
            </div>
          </div>
        )
      }
    </div>
  </section>
</Layout>

<style>
  .episode-cover {
    position: relative;
    width: 100%;
    height: 250px; /* Adjust the height as needed */
    background-size: cover;
    background-position: center;
    color: #fff; /* Text color on the overlay */
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 130, 123, 0.632);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  .content {
    margin: 2rem 0;
  }
  .video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
  }

  .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  /* And set the max-width of the parent element */
  .video-wrap {
    margin: 2rem auto;
    width: 100%;
    max-width: 750px;
  }

  h3 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }

  .summary {
    font-size: 1.25rem;
    line-height: 2;
  }

  .audio-iframe {
    display: block;
    width: 75%;
    margin: 2rem auto;
  }

  @media (max-width: 500px) {
    .audio-iframe {
      width: 100%;
    }
  }
</style>
